<div id="<%= dom_id event %>" style="background-color: silver; padding: 6px; border-radius: 6px; margin: 6px;">
  <p>
    <strong>Start:</strong>
    <%= event.start %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= event.artist %>
  </p>
</div>
